/*Logs
https://bluuweb.github.io/node/07-jwt/#consumir-api
*/
.navPerfil{
    font-size: 15px;
    color: rgb(205, 205, 205);
    font-weight: bold;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
}
.navPerfil:hover{
    background-color: black;
    color: white;
}
.navPerfilClick{
    box-shadow: 0 5px 5px -3px black;
    color: white;
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.64));
}
.campoLog{
    position: relative;
    width:90%; 
    max-width: 370px;
    padding: 14px; 
    background-color: rgba(212, 175, 55, 0.97); 
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}
.CubimgLogPro{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.64));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0) 80%);
}
.imgLogPerfil{
    width: 70px;
    height: 70px;
    border-radius: 40%;
}
.NombrePerfil{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-wrap: balance;
    color: white;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.64));
}
.formSS {
    width: 100%;
    margin-top: 7px;
    background-color: #ffffffa5;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.labelForm {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
    color: black;
    font-size: 15px;
}
.inputForm {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
    font-size: 14px;
}
.errorIn{
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: red;
}
.buttonForm {
    background-color:  rgba(170, 139, 37);
    color: #fff;
    padding: 8px 13px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.buttonForm:hover{
    background-color:  rgb(211, 178, 69);
}
#loader {
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 57%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 7;
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}